@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var header = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "header");
    var settings = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "settings");
    var socialmediaplatforms = settings?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("socialMediaPlatforms") 
                               ?? Enumerable.Empty<Umbraco.Cms.Core.Models.Blocks.BlockListItem>();
    var logoImageurl = header?.Value<IPublishedContent>("logoType")?.Url() ?? "";

    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}
<section class="header">
    <div class="upper-header">
        <div class="container">
            <p>@settings?.Value("companyAdress")</p>
            <div class="social-icons">
                @foreach (var socialmedia in socialmediaplatforms) {
                    var platformName = socialmedia.Content.Value<string>("platformName");
                    var platformUrl = socialmedia.Content.Value<string>("platformUrl");
                    switch(platformName?.ToLower()) {
                        case "facebook":
                            <a href="@platformUrl"><i class="fa-brands fa-facebook-f"></i></a>
                        break;
                        case "x":
                            <a href="@platformUrl"><i class="fa-brands fa-x-twitter"></i></a>
                        break;
                        case "linkedin":
                            <a href="@platformUrl"><i class="fa-brands fa-linkedin-in"></i></a>
                        break;
                        case "instagram":
                            <a href="@platformUrl"><i class="fa-brands fa-instagram"></i></a>
                        break;
                        case "youtube":
                            <a href="@platformUrl"><i class="fa-brands fa-youtube"></i></a>
                        break;
                        case "tiktok":
                            <a href="@platformUrl"><i class="fa-brands fa-tiktok"></i></a>
                        break;
                    }
                }
            </div>
        </div>
    </div>
    <div class="lower-header">
        <div class="container">
            <a href="/">
                <img src="@logoImageurl" alt="Onatrix Logo">
            </a>
            <nav class="header-nav">
                @if (selection?.Length > 0)
                {
                    @foreach (var item in selection)
                    {
                        <a class="@(item.IsAncestorOrSelf(Model) ? "navlink-active" : "navlink")" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    }
                }
            </nav>
            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
</section>



