@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var currentPage = Umbraco.AssignedContentItem;
    var homepage = UmbracoHelper.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "home");
    var projects = homepage?.Children().FirstOrDefault(x => x.ContentType.Alias == "projects");
    var includeProjectItems = Model?.Content.Value<bool>("includeProjectItems");
    var projectItems = projects?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("projectItems")
                           ?? Enumerable.Empty<Umbraco.Cms.Core.Models.Blocks.BlockListItem>();
}

@{
    var itemsPerPage = 4;
    var currentPageNumber = int.TryParse(Context.Request.Query["page"].FirstOrDefault(), out var page) ? page : 1;
    var totalItems = projectItems?.Count() ?? 0;
    var totalPages = (int)Math.Ceiling((decimal)totalItems / itemsPerPage); 
    var pagedItems = projectItems?.Skip((currentPageNumber -1) * itemsPerPage).Take(itemsPerPage);
}

@if (includeProjectItems == true)
{
    if(pagedItems != null) {
        @foreach (var projectItem in pagedItems)
        {
            var projectHeadLine = projectItem.Content.Value<string>("projectHeadLine");
            var projectImage = projectItem.Content.Value<IPublishedContent>("projectImage")?.Url() ?? null;
            var projectLink = projectItem.Content.Value<string>("projectLink");
            var projectDate = projectItem.Content.Value<DateTime>("projectDate");
            var projectParagraph = projectItem.Content.Value<string>("projectParagraph");

            <div class="project-item">
                <img src="@projectImage">
                <div class="project-text">
                    <h3 style="font-weight:600">@projectHeadLine</h3>
                    <p style="color:lightgray">@projectDate</p>
                    <p>@projectParagraph</p>
                    <a class="project-arrow" href="@projectLink">
                        <p style="font-weight:bold;">Read more</p>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        }
    }
    <div class="project-pagination" style="display: flex; align-items: center; gap: 10px;">
        @if (currentPageNumber > 1)
        {
            <a style="color:#4F5955; font-weight:bold;" href="@currentPage.Url()?page=@(currentPageNumber - 1)">PREV</a>
        }
        else
        {
            <span style="color:lightgray; font-weight:bold;">PREV</span>
        }
        @for (var i = 1; i <= totalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span style="display: inline-block; width: 2rem; height: 2rem; line-height: 1.7rem; text-align: center; border: 2px solid lightgray; border-radius: 50%; font-weight: bold; color: #4F5955;">@i</span>
            }
            else
            {
                <span style="color:#4F5955; text-decoration:none; font-weight:bold;">@i</span>
            }
        }
        @if (currentPageNumber < totalPages)
        {
            <a style="color:#4F5955; font-weight:bold;" href="@currentPage.Url()?page=@(currentPageNumber + 1)">NEXT</a>
        }
        else
        {
            <span style="color:lightgray; font-weight:bold;">NEXT</span>
        }
    </div>
}